#
# This is the default Ecologia configuration file. Its values have
# been chosen to provide stable ecosystem dynamics when run.
#
# Daniel Vedder, 20/09/2016
#

[world]
width 100
height 100
timelapse 300
stopAt 200
waterTiles 10
humidity 1
startGrassDensity 100
startCarnivores 50
startHerbivores 200
startEnergyCarnivores 150
startEnergyHerbivores 100

[herbivore]
mutationRate 0
speed 2
stamina 10
sight 4
metabolism 10
ageLimit 150
strength 10
reproductiveEnergy 120
maturityAge 15
gestation 10
reproductionRate 2

[carnivore]
mutationRate 0
speed 3
stamina 10
sight 4
metabolism 18
ageLimit 200
strength 11
reproductiveEnergy 200
maturityAge 30
gestation 10
reproductionRate 1
